<section class="container">
  <div class="container__databank">
    <div class="databank">
      <div class="databank__content">
        <p>Titular: Gabriel Menezes</p>
        <p>Documento: 685.256.550-58</p>
      </div>
      <div class="databank__content">
        <p>Instituição: 329 - Bytebank S.A.</p>
        <p>Agência: 0001</p>
      </div>
    </div>
  </div>
  <div class="container__table">
    <div class="container__table__scroll">
      <table class="table">
        <thead class="table__header">
          <th class="table__header__content">Data</th>
          <th class="table__header__content">Destino</th>
          <th class="table__header__content">Valor (em R$)</th>
        </thead>
        <tbody class="table__body" *ngIf="transfers?.length > 0;">
          <tr class="table__line" *ngFor="let transfer of transfers">
            <td class="table__content">{{ transfer.date | date: "short" }}</td>
            <td class="table__content">{{ transfer.destiny }}</td>
            <td class="table__content">{{ transfer.value | currency: 'BRL':true }}</td>
          </tr>
        </tbody>
      </table>
      <div class="table__empty" *ngIf="!transfers?.length">
        <p>Nenhuma operação cadastrada</p>
      </div>
    </div>
  </div>
</section>

